<nav class="navbar navbar-light bg-dark justify-content-between">
    <div class="pos-f-t" id="hamburger">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="hamburgerList" style="list-style-type:none">
        <li><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#register">
        Register
        </button></li>
        <br>
        <li><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#signIn">
        Employee Sign In
        </button></li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
    <div class="col align-self-center">
    <a class="navbar-brand"><i class="fab fa-pied-piper-alt"></i><span class="company"> Pied Piper - Employee Registration</span></a>
  </div>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#register" id="registerButton" style="margin-right: 5px">
  			Register
		</button>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#signIn" id="signInButton">
  			Employee Sign In
		</button>
 </nav>

<!-- Sign In modal
 -->
 <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Employee Sign In</h5>
        <button type="button" class="close btn btn-outline-success" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="employeeName2" class="col-form-label">Employee Name:</label>
            <input type="text" class="form-control" id="employeeName2">
            <span><p id="message4">Please Fill Out This Field</p><span>
          </div>
          <div class="form-group">
            <label for="buyerID2" class="col-form-label">Buyer ID:</label>
            <input type="text" class="form-control" id="buyerID2">
            <span><p id="message5">Please Fill Out This Field</p><span>
          </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success" id="signInSubmit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Register modal
 -->
 <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Employee Registration</h5>
        <button type="button" class="close btn btn-outline-success" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="register-form">
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
            <span><p id="message1">Please Fill Out This Field</p><span>
          </div>
          <div class="form-group">
            <label for="buyerID" class="col-form-label">Buyer ID:</label>
            <input type="text" class="form-control" id="buyerID" name="buyerID">
            <span><p id="message2">Please Fill Out This Field</p><span>
          </div>
          <div class="form-group">
            <label for="employeeRole" class="col-form-label">Employee Role:</label>
            <input type="text" class="form-control" id="employeeRole" name="employeeRole">
            <span><p id="message3">Please Fill Out This Field</p><span>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-outline-success">Submit</button>
      </div>
        </form>      
  		</div>
    </div>
  </div>
</div>
<section>
  
</section>   
<!-- <div>
  <i id="icon" class="fab fa-pied-piper-alt" data-letter="fab fa-pied-piper-alt"></i>
</div> -->