<nav class="navbar navbar-light bg-dark justify-content-between">
  <a class="navbar-brand"><i class="fab fa-pied-piper-alt"></i><span class="company"> Pied Piper - Buyer's Workbench</span></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search PN" aria-label="Search" id="pnInput">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="pnSearch">Search</button>
  </form>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr>
            <th colspan="4"><h5 class= "text-center">Item Info</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><span class="bold">PN: </span><span class="bold color" id="pn">345762</span></td>
            <td colspan="2"><span class="bold">Desc: </span><span id="desc">MacBook Pro-15" Dis-Intel i7 -16GB Mem- 512GB HD- Space Gray</span></td>
            <td><span class="bold">Rev: </span><span id="rev">E</span></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">Buyer: </span><span id="buyer">2150</span></td>
            <td colspan="2"><span class="bold">Vendor: </span>45693 | <span id="vendor">Apple Computer</span></td>
            <td><span class="bold">Type: </span><span id="type">P</span></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">LT: </span><span id="lt_days">15</span> (days)</td>
            <td><span class="bold">Ord Qty: </span><span id="ord_qty">1</span></td>
            <td><span class="bold">Cost: </span><span id="cost">1800</span> USD</td>
            <td><span class="bold">List: </span><span id="list">2500</span> USD</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-bordered">
        <thead class= "thead-dark bg-dark">
          <tr>
            <th colspan="2"><h5 class= "text-center">Inventory Info</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><span class="bold">QOH: </span><span id="qoh">3</span></td>
            <td><span class="bold">UOM: </span><span id="uom">EA</span></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">SS: </span><span id="ss">2</span></td>
            <td><span class="bold">Commited: </span><span id="commited">1</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th scope="col">SO</th>
            <th scope="col">Line</th>
            <th scope="col">Customer</th>
            <th scope="col">Qty</th>
            <th scope="col">Ship Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>63829302</td>
            <td>4</td>
            <td>Trilogy Eduction</td>
            <td>2</td>
            <td>04/14/18</td>
          </tr>
          <tr class="table-light">
            <td>63829397</td>
            <td>1</td>
            <td>University of Texas</td>
            <td>1</td>
            <td>05/01/18</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th scope="col">PO</th>
            <th scope="col">Line</th>
            <th scope="col">Vendor</th>
            <th scope="col">Qty</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>3458673</td>
            <td>1</td>
            <td>Apple Computer</td>
            <td>5</td>
            <td>04/10/18</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th colspan="2"><h5 class= "text-center">Demand</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><span class="bold">Total Demand:</span></td>
            <td>4</td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">Total Supply:</span></td>
            <td>1</td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">Order Qty:</span></td>
            <td><span class="bold color">3</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">
      <p>Forecasting Chart</p>
    </div>
  </div>
</div>
  <script src="../public/js/inqEvents.js">

  </script>
