<nav class="navbar navbar-light bg-dark justify-content-between">
  <div class="pos-f-t" id="itemHamburger">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <ul class="hamburgerList" style="list-style-type: none">
          <li>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#graph">Vendor Outlook</button>
          </li>
          <br>
          <li>
            <a href="/partsList"><button type="button" class="btn btn-outline-success">Parts List</button></a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div class="col align-self-center">
    <a class="navbar-brand"><i class="fab fa-pied-piper-alt"></i><span class="company"> Pied Piper - Buyer's Workbench</span></a><span>  |  </span><span><a id="reqPath" href="/req">Req</a></span>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search PN" aria-label="Search" id="pnInput">
    <button class="btn btn-outline-success my-2 my-sm-0" id="pnSearch">Search</button>
  </form>
</nav>

<div class="modal fade" id="graph" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Vendor Outlook</h5>
        <button type="button" class="close btn btn-outline-success" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='dashboard'></div>
        <span id="vendor1">Mac Book</span>
        <span id="vendor2">EA</span>
        <span id="vendor3">Apple</span>
        <span id="vendor4">Dell</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr>
            <th colspan="4"><h5 class= "text-center">Item Info</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><span class="bold">PN: </span><span class="bold color" id="pn"></span></td>
            <td colspan="2"><span class="bold">Desc: </span><span id="desc"></span></td>
            <td><span class="bold">Rev: </span><span id="rev"></span></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">Buyer: </span><span id="buyer"></span></td>
            <td colspan="2"><span class="bold">Vendor: </span><span id="vendor"></span> | <span id="vendorName"></span></td>
            <td><span class="bold">Type: </span><span id="type"></span></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">LT: </span><span id="lt_days"></span> (days)</td>
            <td><span class="bold">Ord Qty: </span><span id="ord_qty"></span></td>
            <td><span class="bold">Cost: </span><span id="cost"></span> USD</td>
            <td><span class="bold">List: </span><span id="list"></span> USD</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-bordered">
        <thead class= "thead-dark bg-dark">
          <tr>
            <th colspan="2"><h5 class= "text-center">Inventory Info</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><span class="bold">QOH: </span><span id="qoh"></span></td>
            <td><span class="bold">UOM: </span><span id="uom"></span></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">SS: </span><span id="ss"></span></td>
            <td><span class="bold">Commited: </span><span id="commited"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th scope="col">SO</th>
            <th scope="col">Line</th>
            <th scope="col">Customer</th>
            <th scope="col">Qty</th>
            <th scope="col">Ship Date</th>
          </tr>
        </thead>
        <tbody id="soTable">
          <tr class="table-light">
            <td colspan="5"> No Current Sales Orders</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th scope="col">PO</th>
            <th scope="col">Line</th>
            <th scope="col">Vendor</th>
            <th scope="col">Qty</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody id="poTable">
          <tr class="table-light">
            <td colspan="5"> No Current Sales Orders</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th colspan="2"><h5 class= "text-center">Demand</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><span class="bold">Total Demand:</span></td>
            <td id="tDemand"></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">Total Supply:</span></td>
            <td id="tSupply"></td>
          </tr>
          <tr class="table-light">
            <td><span class="bold">Order Qty:</span></td>
            <td><span class="bold color" id="ordQty"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class= "thead-dark">
          <tr class="table-light">
            <th><h5 class= "text-center">History and Forecast</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td><svg width="700" height="200"></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="/js/inqEvents.js"></script>
