<nav class="navbar navbar-light bg-dark justify-content-between">
  <div class="col align-self-center">
    <a class="navbar-brand"><i class="fab fa-pied-piper-alt"></i><span class="company"> Pied Piper - Buyer's Workbench</span></a><span> &nbsp | &nbsp</span><span><a id="reqPath" href="/req">Req</a></span><span>  &nbsp |  &nbsp </span><span><a id="inquiryPath" href="/itemInfo">Inquiry</a></span>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buyer Number" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <table id="partsListTable" class="table table-bordered table-sm">
          <thead class="thead-dark">
            <tr class="table-light">
              <th scope="col">Part Number</th>
              <th scope="col">Description</th>
              <th scope="col">Buyer ID</th>
              <th scope="col">Vendor ID</th>
              <th scope="col">Sales Price</th>
              <th scope="col">Order Qty</th>
              <th scope="col">QOH</th>
              <th scope="col">SS</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
<script src="js/partsListEvents.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
