/*STYLING FOR MAIN*/
html{
  font-size: 12px;
  line-height: normal;
}
body {
  background: linear-gradient(to bottom right, #5D6D7E, #5D6D7E);
}
#background {
  background: linear-gradient(black, white);
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../image/containers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bold{
  font-weight: 700;
}

.color{
  color: #D35400;
}

.fa-pied-piper-alt{
  color: #28B463;
  font-size: 32px;
}

#registerButton {
  margin-right: 20px;
}

.hamburgerList {
  padding-left: 0px;
}

#hamburger {
  display: none;
}

.btmMargin{
  margin-bottom: 10px;
}

/* TABLE STYLING */
.company{
  color: white;
  font-size: 20px;
}
.check{
  width: 60px;
}
.vendor{
  width: 80px;
}
.qty{
  width: 50px;
}

.date{
  width: 125px;
}

/* LOGIN STYLES */
#message1 {
  color: red;
}
#message2 {
  color: red;
}
#message3 {
  color: red;
}
#message4 {
  color: red;
}
#message5 {
  color: red;
}
#reqPath {
    color: #28B463;
    font-size: 18px;
}
#inquiryPath{
  color: #28B463;
  font-size: 18px;
}

/*Graph Model CSS*/
path {
  stroke: #fff;
}

path:hover {
  opacity:0.9;
}

rect:hover {
  fill:blue;
}

.axis {
  font: 10px sans-serif;
}

.legend tr {
  border-bottom:1px solid grey;
}

.legend tr:first-child{
  border-top:1px solid grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}

.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

#vendor1{
    position: absolute;
    top: 280px;
    left: 52px;
}

#vendor2{
    position: absolute;
    top: 280px;
    left: 193px;
}

#vendor3{
    position: absolute;
    top: 280px;
    left: 305px;
}

#vendor4{
    position: absolute;
    top: 280px;
    left: 430px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 576px){
  .modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
  }
}

@media screen and (max-width: 665px){
  #registerButton {
    display: none;
  }

  #signInButton {
    display: none;
  }

  #hamburger {
    display: block;
  }
}
